{% extends "master.html.twig" %}

{% block title %}TORS{% endblock %}
{% block head %}
<script>
$(document).ready(function () {
//Check if the current URL contains '#'
    /*if(document.URL.indexOf("#")==-1){
        // Set the URL to whatever it was plus "#".
        url = document.URL+"#";
        location = "#";

        //Reload the page
        location.reload(true);
    }*/
});      
</script> 
{% endblock %}       
{% block content %}
{% if currentUser %}    
    <div id="bookingForm">
        <h2>Order information</h2>

        <p>Passenger: <span style="font-weight: bold;">{{currentUser.userName}}</span></p>
        <p>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="font-weight: bold;"> {{currentUser.email}}</span></p>
        <p>---------------------------------------------------------------------------</p>
        <p>Trip from:  <span style="font-weight: bold;">{{booking.2.name}} ({{booking.2.Country}})</span></p>
        <p>--------to:  <span style="font-weight: bold;">{{booking.3.name}} ({{booking.3.Country}})</span></p>
        <p>---------------------------------------------------------------------------</p>
        <p>Depart:&nbsp;&nbsp;  <span style="font-weight: bold;">{{booking.0.DateTimeDepart}}</span></p>
        <p>Arrive:&nbsp;&nbsp;  <span style="font-weight: bold;">{{booking.0.DateTimeArrive}}</span></p>
        <p>---------------------------------------------------------------------------</p>
        <p>Seats:&nbsp;&nbsp;&nbsp;  <span style="font-weight: bold;">{{booking.seats}}</span></p>
        <p>---------------------------------------------------------------------------</p>
        <p>Bus:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span style="font-weight: bold;">{{booking.1.MakeModel}}</span></p>
        <p>---------------------------------------------------------------------------</p>
        <p>Amenities:</p>
        {% if booking.0.WiFi==1 %}  
            <p>----------------------WiFi:  <span style="font-weight: bold;">YES</span></p>
        {% else %}
            <p>----------------------WiFi:  <span style="font-weight: bold;">NO</span></p>
        {% endif %} 
        {% if booking.0.AirConditioning==1 %}  
            <p>-------AirConditioning:  <span style="font-weight: bold;">YES</span></p>
        {% else %}
            <p>-------AirConditioning:  <span style="font-weight: bold;">NO</span></p>
        {% endif %} 
        {% if booking.0.Toilet==1 %}  
            <p>--------------------Toilet:  <span style="font-weight: bold;">YES</span></p>
        {% else %}
            <p>--------------------Toilet:  <span style="font-weight: bold;">NO</span></p>
        {% endif %} 
        {% if booking.0.PowerOutlets==1 %}  
            <p>----------PowerOutlets:  <span style="font-weight: bold;">YES</span></p>
        {% else %}
            <p>----------PowerOutlets:  <span style="font-weight: bold;">NO</span></p>
        {% endif %} 
        <p>---------------------------------------------------------------------------</p><br/>
        <p>Price one ticket:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <span style="font-weight: bold;">$ {{booking.0.Price}}</span></p>
        <p>---------------------------------------------------------------------------</p><br/>
        <p>Summary price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <span style="font-weight: bold;">$ {{paymentSum.sum}}</span></p>
        <p>---------------------------------------------------------------------------</p><br/>
        
    <!--    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="7J5JGAYF86MVJ">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_buynow_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>
        <p>or</p>
        <p style="font-weight: bold;"><a href="/">CANCEL</a></p>   -->
        <!--<a href="/api.php/payment"><button id="selectContinue">PAYPAL PAYMENT</button></a>
        <a href="/"><button id="selectContinue">CANCEL</button></a>-->
        <form action="/" method="post" style="display:inline-block;">
            <input type="hidden" name="PassengerID" value="{{currentUser.ID}}">
            <input type="hidden" name="TripID" value="{{booking.0.ID}}">
            <input type="hidden" name="PaymentInfo" value="VISA">
            <input type="hidden" name="PaymentDate" value={{booking.0.DateTimeDepart}}>
            <input type="hidden" name="BookedSeats" value="{{booking.seats}}">
            <input type="submit" value="ADD TO CART">
        </form>
        <p style="padding-left:140px;"> or <a href="/"> CANCEL </a> or </p>
        <form class="paypal" action="api.php/payment" method="post" id="paypal_form" target="_blank">
            <input type="hidden" name="PassengerID" value="{{currentUser.ID}}">
            <input type="hidden" name="TripID" value="{{booking.0.ID}}">
            <input type="hidden" name="UnitPrice" value="{{booking.0.Price}}">
            <input type="hidden" name="BookedSeats" value="{{booking.seats}}">
            
	    <input type="hidden" name="item_name" value="{{booking.2.name}} ({{booking.2.Country}}) - {{booking.3.name}} ({{booking.3.Country}}) trip. Depart at: {{booking.0.DateTimeDepart}}. Seats: {{booking.seats}}" />
            <input type="hidden" name="amount" value="{{booking.0.Price}}" />        
            <input type="hidden" name="cmd" value="_xclick" />
            <input type="hidden" name="quantity" value="{{countSeats.seats}}" />
            
	    <input type="hidden" name="no_note" value="1" />
	    <input type="hidden" name="lc" value="CA" />
	    <input type="hidden" name="currency_code" value="CAD" />
	    <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynow_LG.gif:NonHostedGuest" />
            
	    <input type="hidden" name="first_name" value="{{currentUser.userName}}" />
	    <input type="hidden" name="email" value="{{currentUser.email}}" />
	        <!--input type="hidden" name="item_number" value="123456" /-->
                
	    <input type="submit" name="submit" value="PAYPAL PAYMENT"/>
	    </form>
        <!--<form class="paypal" action="payments.php" method="post" id="paypal_form" target="_blank">
	        <input type="hidden" name="cmd" value="_xclick" />
	        <input type="hidden" name="no_note" value="1" />
	        <input type="hidden" name="lc" value="UK" />
	        <input type="hidden" name="currency_code" value="GBP" />
	        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynow_LG.gif:NonHostedGuest" />
	        <input type="hidden" name="first_name" value="Customer's First Name" />
	        <input type="hidden" name="last_name" value="Customer's Last Name" />
	        <input type="hidden" name="payer_email" value="customer@example.com" />
	        <input type="hidden" name="item_number" value="123456" />
	        <input type="submit" name="submit" value="Submit Payment"/>
	    </form> -->       
    </div>
{% else %}
    <p class="pLongRight"><a href="index.php/login">LOGIN </a> | <a href="index.php/register"> REGISTER</a></p>
{% endif %}    
{% endblock %}

