{% extends "master.html.twig" %}

{% block title %}TORS{% endblock %}
{% block head %}
<script>
$(document).ready(function () {
//Check if the current URL contains '#'
    if(document.URL.indexOf("#")==-1){
        // Set the URL to whatever it was plus "#".
        url = document.URL+"#";
        location = "#";

        //Reload the page
        location.reload(true);
    }
});      
</script> 
{% endblock %}       
{% block content %}
{% if currentUser %}    
    <div id="bookingForm">
        <h2>Order information</h2>

        <p>Passenger: <span style="font-weight: bold;">{{currentUser.userName}}</span></p>
        <p>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <span style="font-weight: bold;"> {{currentUser.email}}</span></p>
        <p>-------------------------------------------------------------------------</p>
        <p>Trip from:  <span style="font-weight: bold;">{{booking.3.name}} ({{booking.3.Country}})</span></p>
        <p>--------to:  <span style="font-weight: bold;">{{booking.4.name}} ({{booking.4.Country}})</span></p>
        <p>-------------------------------------------------------------------------</p>
        <p>Depart:&nbsp;&nbsp;  <span style="font-weight: bold;">{{booking.1.DateTimeDepart}}</span></p>
        <p>Arrive:&nbsp;&nbsp;  <span style="font-weight: bold;">{{booking.1.DateTimeArrive}}</span></p>
        <p>-------------------------------------------------------------------------</p>
        <p>Seats:&nbsp;&nbsp;&nbsp;  <span style="font-weight: bold;">{{booking.seats}}</span></p>
        <p>-------------------------------------------------------------------------</p>
        <p>Bus:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  <span style="font-weight: bold;">{{booking.2.MakeModel}}</span></p>
        <p>-------------------------------------------------------------------------</p>
        <p>Amenities:</p>
        {% if booking.1.WiFi==1 %}  
            <p>----------------------WiFi:  <span style="font-weight: bold;">YES</span></p>
        {% else %}
            <p>----------------------WiFi:  <span style="font-weight: bold;">NO</span></p>
        {% endif %} 
        {% if booking.1.AirConditioning==1 %}  
            <p>-------AirConditioning:  <span style="font-weight: bold;">YES</span></p>
        {% else %}
            <p>-------AirConditioning:  <span style="font-weight: bold;">NO</span></p>
        {% endif %} 
        {% if booking.1.Toilet==1 %}  
            <p>--------------------Toilet:  <span style="font-weight: bold;">YES</span></p>
        {% else %}
            <p>--------------------Toilet:  <span style="font-weight: bold;">NO</span></p>
        {% endif %} 
        {% if booking.1.PowerOutlets==1 %}  
            <p>----------PowerOutlets:  <span style="font-weight: bold;">YES</span></p>
        {% else %}
            <p>----------PowerOutlets:  <span style="font-weight: bold;">NO</span></p>
        {% endif %} 
        <p>-------------------------------------------------------------------------</p><br/>
        <p>Price one ticket:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <span style="font-weight: bold;">$ {{booking.1.Price}}</span></p>
        <p>-------------------------------------------------------------------------</p><br/>
        <p>Summary price:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;   <span style="font-weight: bold;">$ {{paymentSum}}</span></p>
        <p>-------------------------------------------------------------------------</p><br/>
        <form class="paypal" action="payments.php" method="post" id="paypal_form" target="_blank">
	        <input type="hidden" name="cmd" value="_xclick" />
	        <input type="hidden" name="no_note" value="1" />
	        <input type="hidden" name="lc" value="UK" />
	        <input type="hidden" name="currency_code" value="GBP" />
	        <input type="hidden" name="bn" value="PP-BuyNowBF:btn_buynow_LG.gif:NonHostedGuest" />
	        <input type="hidden" name="first_name" value="Customer's First Name" />
	        <input type="hidden" name="last_name" value="Customer's Last Name" />
	        <input type="hidden" name="payer_email" value="customer@example.com" />
	        <input type="hidden" name="item_number" value="123456" />
	        <input type="submit" name="submit" value="Submit Payment"/>
	    </form>
        <p style="display:inline-block;"> or <a href="/"> CANCEL </a> or </p>
        <!-- Saved information to DB - test  -->
        <form action="/payment" method="post" style="display:inline-block;">
            <input type="hidden" name="PassengerID" value="{{booking.user}}">
            <input type="hidden" name="TripID" value="{{booking.1.ID}}">
            <input type="hidden" name="PaymentInfo" value="VISA">
            <input type="hidden" name="PaymentDate" value={{booking.1.DateTimeDepart}}>
            <input type="hidden" name="BookesSeats" value="{{booking.seats}}">
            <input type="submit" value="SAVE">
        </form>
    </div>
{% else %}
    <p class="pLongRight"><a href="index.php/login">LOGIN </a> | <a href="index.php/register"> REGISTER</a></p>
{% endif %}    
{% endblock %}

