{% extends "master.html.twig" %}

{% block title %}TORS{% endblock %}
{% block login %}
{% if currentUser %}
        <p>Logined: {{currentUser.userName}}. <a href="/logout"> LOGOUT</a></p>
    {% else %}
        <p><a href="index.php/login">LOGIN </a> | <a href="index.php/register"> REGISTER</a></p>       
    {% endif %}
    <hr/>
{% endblock %}        
{% block content %} 
    {% if errorList %}
    <div id="errorList">    
	<ul>
            {% for error in errorList %}
		<li>{{ error }}</li>
            {% endfor %}
	</ul>
    </div>
    {% endif %}
    <div id="selectForm">
        <form method="post"  action="/index.php/select">            
            <p>Depart From: </p><select name="departID" class="select_join">
                <option>-- Select City From--</option>
                {% if cityList %}
                    {% for city in cityList %}                    
                        {% if v.departID==city.ID %}
                            <option value={{city.ID}} selected>{{city.name}}</option>
                        {% else %} 
                            <option value={{city.ID}}>{{city.name}}</option>
                        {% endif %}
                    {% endfor %}
                
                {% endif %}
            </select>
            <p>Arrive To: </p><select name="arriveID" class="select_join" >
                <option>-- Select City To--</option>
                {% if cityList %}
                    {% for city in cityList %}
                        {% if v.arriveID==city.ID %}
                            <option value={{city.ID}} selected>{{city.name}}</option>
                        {% else %} 
                            <option value={{city.ID}}>{{city.name}}</option>
                        {% endif %}                    
                    {% endfor %} 
                {% endif %}                
            </select><br/>
            <p>Depart On: </p><input type="date" name="dateTimeDepart" class="select_join" >
            <p>Arrive On: </p><input type="date" name="dateTimeArrive" class="select_join" ><br/>
            <p>Trip: </p><select name="typeTrip" class="select_join" >
                <!--<option>-- Select Trip Type--</option>-->
                {% if v.typeTrip=="oneway" %}
                    <option value="oneway" selected>One-way</option>
                {% else %} 
                    <option value="oneway">One-way</option>
                {% endif %}
                {% if v.typeTrip=="round" %}
                    <option value="round" selected>Round trip</option>
                {% else %} 
                    <option value="round">Round trip</option>
                {% endif %}
                                                
            </select>
            <input type="submit" Value="CONTINUE" class="submitButton">
            <!--<button id="selectContinue">CONTINUE</button>-->
        </form>    
    </div>
    
{% endblock %}
