{% extends "master.html.twig"%}

{% block title %}Register user{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        
        function checkEmail() {
            var email = $('input[name=email]').val();
            if (email != '') {
                //$('#result').load('/emailexists/' + email);
                // NOTE: .load is actually .ajax call like below
                $.ajax({
                    url: '/emailexists/' + email
                }).done(function (data) {
                    $("#result").html(data);
                });                
            } else {
                $('#result').html("");
            }
        }
        
        $(document).ready(function() {
            $('input[name=email]').keyup(function() {
                checkEmail();
            });
            $('input[name=email]').bind('paste', function() {
                checkEmail();
            });
        });

    </script>

    <style>
        .message{
            color: red;
            
        }
    </style>
{% endblock %}

{% block content %}
     <div id="divRegister">
        <h2 style="font-family: sans-serif;">Sign Up</h2>
        <p>Already have an account? <a href='login'>Log in</a></p>

        
            <button type="button" class="btnFb"><span style="font-family:sans-serif; font-weight: bold; font-size: 20px;">f&nbsp</span> Register with Facebook</button>
        
        
        
        <p>---or sign up with your email address---</p>

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li class="message">{{error}}</li>
                {% endfor %}   
        </ul>

    {% endif %}
    <p><span class="message">* required field</span></p>
    <form method="post" id="registerForm">
        <label for="name">First Name</label><br> 
        <input type="text" name="firstName" placeholder="First Name" value="{{v.firstName}}"><br><br><br>
        
        <label for="name">Last Name</label> <br> 
        <input type="text" name="lastName" placeholder="Last Name" value="{{v.lastName}}"><br><br><br>
        
        <label for="name">User Name <span class="message">&nbsp*</span></label><br> 
        <input type="text" name="userName" placeholder="User Name" value="{{v.userName}}"><br><br><br>

        <label for="email"> Email Address <span class="message">&nbsp*</span> </label> <br> 
        <input type="text" name="email"  placeholder="Email Address" value="{{v.email}}">
        <span id="result" class="message" ></span><br><br>

        <label for="pass1">Password: <span class="message">&nbsp*</span></label> <br> 
        <input type="password"  placeholder="Password" name="pass1"><br><br>

        <label for="pass1">Re-type Password: <span class="message">&nbsp*</span></label> <br> 
        <input type="password" placeholder="Password" name="pass2"><br><br>
        
        <label for="pass1">Phone: </label> <br> 
        <input type="text" placeholder="Phone" name="phone" value="{{v.phone}}"><br><br><br>

        <input type="submit" value="Register" name="btnSubmit"><br><br>
    </form>

</div>

{% endblock %}