{% extends "master.html.twig"%}

{% block title %}Register user{% endblock %}

{% block head %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>
        $(document).ready(function (){
          $('input[name=email]').keyup(function(){
            $('#result').load('/emailexists/' + $(this).val()); 
              
          });  
        });

    </script>

    <style>
        #message{
            color: red;
            font-weight: bold;
        }
    </style>
{% endblock %}

{% block content %}
     <div id="divRegister">
        <h2>Sign Up</h2>
        <p>Already have an account? <a href='index.php/login'>Log in</a></p>

        <div id="divLoginFacebook">
            <button type="button" class="btnFb"><span style="font-family:sans-serif; font-weight: bold; font-size: 20px;">f&nbsp</span> Register with Facebook</button>
        </div>
        
        
        <p>---------------- or sign up with your email address---------------------</p>

    {% if errorList %}
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}   
        </ul>

    {% endif %}
    <form method="post" id="registerForm">
        <label for="name">First Name</label><br> 
        <input type="text" name="firstName" placeholder="First Name" value="{{v.firstName}}"<br><br><br>
        
        <label for="name">Last Name</label> <br> 
        <input type="text" name="lastName" placeholder="Last Name" value="{{v.lastName}}"<br><br><br>
        
        <label for="name">User Name</label> <br> 
        <input type="text" name="userName" placeholder="User Name" value="{{v.userName}}"<br><br><br>

        <label for="email"> Email Address </label> <br> 
        <input type="text" name="email"  placeholder="Email Adress" value="{{v.email}}">
        <span id="result"></span><br><br>

        <label for="pass1">Password: </label> <br> 
        <input type="password"  placeholder="Password" name="pass1"><br><br>

        <label for="pass1">Password (repeated): </label> <br> 
        <input type="password" placeholder="Password" name="pass2"><br><br>

        <input type="submit" value="Register"><br><br>
    </form>



{% endblock %}