{% extends "master.html.twig" %}

{% block title %}TORS{% endblock %}

{% block head %}
<script>           
$(document).ready(function () {
    $("#waitForIt").hide();
});    
</script> 
{% endblock %}

{% block login %}   
{% if currentUser %}
        <p>Logined: {{currentUser}}. <a href="/logout"> LOGOUT</a></p>
    {% else %}
        <p><a href="/login">LOGIN </a> | <a href="/register"> REGISTER</a></p>       
    {% endif %}
    <hr/>
{% endblock %} 

{% block content %}
    <div id="contentSelectedDestination">  
        
    {% if valueList %}
        <table id="SelectedBuses">
            <tr>
                <th width="150">Depart</th>
                <th width="150">Arrive</th>
                <th width="180">Date and Time Depart</th>
                <th width="180">Date and Time Arrive</th>
                <th width="15" style="font-size: 150%; font-weight: bold;">?</th>
                <th>Review</th>
            </tr>
                {% for ad in valueList %}<!--
                    $result = DB::query("SELECT trips.ID as ID,BusID,DepartID,ArriveID,DateTimeDepart,DateTimeArrive,Description,MakeModel,WiFi,AirConditioning,AirConditioning,PowerOutlets "
            +"FROM trips,buses WHERE trips.BusID=buses.ID");-->
            <tr>   
                <td>{{departCity}}</td>
                <td>{{arriveCity}}</td>                
                <td>{{ad.DateTimeDepart}}</td>
                <td>{{ad.DateTimeArrive}}</td>
                <td style="font-size: 150%; font-weight: bold; cursor: pointer;">+</td>
                <td><a href='/review/{{ad.ID}}'>REVIEW</a></td
            </tr>
                {% endfor %}
        </table>
        {% else %}
            <p>There are no buses for this destination or this date.</p>
    {% endif %}
    <p> {{dateTimeDepart}}</p>
    <p> {{dateTimeArrive}}</p>
    </div>
    
    <div id="waitForIt" style="z-index: 2; position: absolute; top: 100px; left: 400px;">
        <img src="/images/swirl.gif">
    </div>
{% endblock %}
