{% extends "master.html.twig" %}

{% block title %}TORS{% endblock %}

{% block head %}
<script>  
    var settings = {};
    var bookedSeats = [];//[5, 10, 25];
    var selectedSeats = [];       
     var init = function (reservedSeat) {
                var str = [], seatNo, className;
                for (i = 0; i < settings.rows; i++) {
                    for (j = 0; j < settings.cols; j++) {
                        seatNo = (i + j * settings.rows + 1);  
                        className = settings.seatCss + ' ' + settings.rowCssPrefix + i.toString() + ' ' + settings.colCssPrefix + j.toString();
                        if ($.isArray(reservedSeat) && $.inArray(seatNo, reservedSeat) != -1) {
                            className += ' ' + settings.selectedSeatCss;
                        }
                        str.push('<li class="' + className + '"' +
                                  'style="top:' + (i * settings.seatHeight).toString() + 'px;left:' + (j * settings.seatWidth).toString() + 'px">' +
                                  '<a title="' + seatNo + '">' + seatNo + '</a>' +
                                  '</li>');
                    }
                }
                $('#place').html(str.join(''));
            };
            
        function selectBus(userID,tripID){
            var result ="";
            var booked = false;
            var seats =0;
            $("span").html(result);
            $("span").hide();
            bookedSeats = [];
            //alert("bookedSeats");
            $.ajax({
                url: "/api.php/seats/"+tripID,
                type: "GET",
                dataType: "json"
            }).done(function (data) {            
                for (var i = 0; i < data.length; i++) {                    
                var item = data[i];
                //alert("booked Seats "+item.SeatNumber);
                bookedSeats.push(parseInt(item.BookedSeats)); 
                    //bookedSeats = [3,4,5,30];
                seats=item.NumberOfSeats;
                }
            booked = true;
            settings = {
                rows: 4,
                cols: seats/4,
                rowCssPrefix: 'row-',
                colCssPrefix: 'col-',
                seatWidth: 35,
                seatHeight: 35,
                seatCss: 'seat',
                selectedSeatCss: 'selectedSeat',
                selectingSeatCss: 'selectingSeat'
            };              
                result ='<div id="seats"><div id="holder"><ul id="place"></ul></div>';
                result += '<div style="float:left;"><ul id="seatDescription">';
                result += '<li style="background:url(\'/images/available_seat_img.jpg\') no-repeat scroll 0 0 transparent;">Available Seat</li>';        
                result += '<li style="background:url(\'/images/booked_seat_img.jpg\') no-repeat scroll 0 0 transparent;">Booked Seat</li>';  
                result += '<li style="background:url(\'/images/selected_seat_img.jpg\') no-repeat scroll 0 0 transparent;">Selected Seat</li>'; 
                result += '</ul></div><button id="btnBooking">Booking</button><div style="clear:both;width:100%"></div></div></div>';
                $("#seats"+tripID).html(result);
                init(bookedSeats); 
                
                $('.' + settings.seatCss).click(function () {
                if ($(this).hasClass(settings.selectedSeatCss)){
                    alert('This seat is already reserved');
                }
                else{
                    $(this).toggleClass(settings.selectingSeatCss);
                    /*if (result!=""){
                        alert(settings.cols);                        
                    }*/
                    selectedSeats.push();
                    }
                });                
                $("#seats"+tripID).show();
                $('#btnBooking').click(function () {
                var str = [], item;
                $.each($('#place li.' + settings.selectingSeatCss + ' a'), function (index, value) {
                    item = $(this).attr('title');                   
                    str.push(item);                   
                });
                alert(str.join(','));
                })
            });
            
            if (booked==false){
                
                settings = {
                rows: 4,
                cols: 80/4,
                rowCssPrefix: 'row-',
                colCssPrefix: 'col-',
                seatWidth: 35,
                seatHeight: 35,
                seatCss: 'seat',
                selectedSeatCss: 'selectedSeat',
                selectingSeatCss: 'selectingSeat'
            };              
                result ='<div id="seats"><div id="holder"><ul id="place"></ul></div>';
                result += '<div style="float:left;"><ul id="seatDescription">';
                result += '<li style="background:url(\'/images/available_seat_img.jpg\') no-repeat scroll 0 0 transparent;">Available Seat</li>';        
                result += '<li style="background:url(\'/images/booked_seat_img.jpg\') no-repeat scroll 0 0 transparent;">Booked Seat</li>';  
                result += '<li style="background:url(\'/images/selected_seat_img.jpg\') no-repeat scroll 0 0 transparent;">Selected Seat</li>'; 
                result += '</ul><button id="btnBooking">Booking</button></div><div style="clear:both;width:100%"></div></div></div>';
                $("#seats"+tripID).html(result);
                init(bookedSeats);
                
                $('.' + settings.seatCss).click(function () {
                if ($(this).hasClass(settings.selectedSeatCss)){
                    alert('This seat is already reserved');
                }
                else{
                    $(this).toggleClass(settings.selectingSeatCss);
                    }
                });                
                $("#seats"+tripID).show();
                $('#btnBooking').click(function () {
                var str = [], item;
                $.each($('#place li.' + settings.selectingSeatCss + ' a'), function (index, value) {
                    item = $(this).attr('title');                   
                    str.push(item);                   
                });
                if (userID>0){
                    alert(str.join(',')+" is your choice, "+userID+" array length is "+str.length);
                    if (str.length > 0) {
                        // INSERT
                    $.ajax({
                        url: "/api.php/selectedseats",
                        data: JSON.stringify({                        
                        user: userID,
                        trip: tripID,
                        seats: str.join(',')
                        }),
                        type: "POST",
                        dataType: "json"
                    }).done(function () {
                            alert("Updated successfully");
                            //refreshTodoList();
                        }); 
                        //alert("str is "+str.length);
                        window.location = "http://localhost:8100/bookingform";
                    }
                    else alert("You no seats chosed");
                    
                } else {
                    alert(str.join(',')+" is your choice, but you must login or register "+userID+" array length is "+str.length);
                }                
                })
                //*****finish
            }        
        } 
                
$(document).ready(function () {
    $("span").hide(); //selectBus
    $("#waitForIt").hide();   
    
});    
</script> 
{% endblock %}

{% block login %} 
    <p class="pLeft"><a href="/" style="padding:5px 20px; background-color: lightblue;">BACK </a> </p>
    {% if currentUser %}
        <p class="pRight">Logined: {{userID}}. <a href="/logout"> LOGOUT</a></p>        
    {% else %}
        <p  class="pRight"><a href="/login">LOGIN </a> | <a href="/register"> REGISTER</a></p> 
    {% endif %}
    <hr/>
{% endblock %} 

{% block content %}
    <div id="contentSelectedDestination">  
        
    {% if valueList %}
        <table id="SelectedBuses">
            <tr>
                <th width="150">Depart</th>
                <th width="150">Arrive</th>
                <th width="180">Date and Time Depart</th>
                <th width="180">Date and Time Arrive</th>
                <!--<th width="15" style="font-size: 150%; font-weight: bold;">?</th>-->
                <th>Selection</th>
            </tr>
                {% for ad in valueList %}<!--
                    $result = DB::query("SELECT trips.ID as ID,BusID,DepartID,ArriveID,DateTimeDepart,DateTimeArrive,Description,MakeModel,WiFi,AirConditioning,Toilet,PowerOutlets "
            +"FROM trips,buses WHERE trips.BusID=buses.ID");-->
            <tr>   
                <td style="font-size: 120%; font-weight: bold;">{{departCity}}</td>
                <td style="font-size: 120%; font-weight: bold;">{{arriveCity}}</td>                
                <td>{{ad.DateTimeDepart}}</td>
                <td>{{ad.DateTimeArrive}}</td>
                <!--<td style="font-size: 150%; font-weight: bold; cursor: pointer;">+</td>-->
                <td style="font-size: 120%; font-weight: bold; background-color: lightblue;" onclick="selectBus({{currentUser.ID?currentUser.ID:0}},{{ad.ID}})">Select</td>
            </tr>
            <tr>   
                <td >Amenities:</td>                
                <td>
                    {% if ad.WiFi==true %}
                            <img src="/images/wifi2.png" height="20" alt="WiFi">                    
                    {% endif %}
                    {% if ad.AirConditioning==true %}
                            <img src="/images/cond1.jpg" height="20" alt="AC">                    
                    {% endif %}
                    {% if ad.Toilet==true %}
                            <img src="/images/t1.png" height="20" alt="WC">                    
                    {% endif %}
                    {% if ad.PowerOutlets==true %}
                            <img src="/images/el1.jpg" height="20" alt="Power">                    
                    {% endif %}
                </td>
                <td></td>
                <td>Price:</td>                
                <!--<td style="font-size: 150%; font-weight: bold; cursor: pointer;">+</td>-->
                <td>$ {{ad.Price}}</td>
            </tr>
            <tr>
                <td colspan="5" style="border-bottom: 1px solid grey; text-align: left;">
                    <span id="seats{{ad.ID}}"> 
                    </span>                     
                </td>
            </tr>
            <tr>   
                <td colspan="5" style="border-bottom: 1px solid grey; background-color: lightblue;"></td>                
            </tr>
                {% endfor %}
        </table>
        <br/><p style="margin: 0; vertical-align: top; line-height:15px;">
            <img src="/images/wifi2.png" height="15" alt="WiFi">  WiFi &nbsp;|
            <img src="/images/cond1.jpg" height="15" alt="AC">  AirConditioning &nbsp;|
            <img src="/images/t1.png" height="15" alt="WC">  Toilet &nbsp;|
            <img src="/images/el1.jpg" height="15" alt="Power">  Power Outlets &nbsp;
        </p>
        {% else %}
            <p>There are no buses for this destination or this date.</p>
    {% endif %}
    <p> {{dateTimeDepart}}</p>
    <p> {{dateTimeArrive}}</p>
    </div>
    
    <div id="waitForIt" style="z-index: 2; position: absolute; top: 100px; left: 400px;">
        <img src="/images/swirl.gif">
    </div>
{% endblock %}
